<div style="background:teal; color:#fff;">
	<h1>Demo#hello</h1>
	<p>Hola Mudo!</p>
	
	<% target = "world" %>
	<%= "hoda #{target}" %>
	
	<%= link_to("texto", {:action => 'index'}) %> <br>
	
	correct output: <%= params['page'].to_i + 1 %> <br>	
	incorrect output: <%= @page.to_i + 1 %> <br>
	incorrect output: <%= @page + 1 %> <br>
	
	
	
	
</div>

