<% page_title = "Admin Login" %>

<h1>login</h1>
<div class="login">
	<%= form_tag(:action => 'attempt_login') do %>
		<div class="clearfix">
			<%= label_tag(:username) %>
			<div class="input">
				<%= text_field_tag(:username) %>
			</div>
		</div>
		<div class="clearfix">
			<%= label_tag(:password) %>
			<div class="input">
				<%= password_field_tag(:password) %>
			</div>
		</div>
		<div class="actions">
			<%= submit_tag("Log In", :class => 'btn primary') %>
			<%= link_to("Cancel", '#', :class => 'btn') %>
		</div>
	<% end %>
</div>
