<% page_title = "Admin Menu" %>

<div class="menu">
	<h1>Admin Menu <small class="identity">logged in as: <%= session[:username] %></small></h1>
	<ul>
		<li><%= link_to("Manage Subjects", :controller => 'subjects') %></li>
		<li><%= link_to("Manage Pages", :controller => 'pages') %></li>
		<li><%= link_to("Manage Sections", :controller => 'sections') %></li>
		<li><%= link_to("Manage Admin Users", '#') %></li>
		<li><%= link_to("Logout", :action => 'logout') %></li>
	</ul>	
</div>