<%= error_messages_for(@section) %>

<div class="clearfix">
	<%= f.label(:page_id) %>
	<div class="input">
		<%= f.select(:page_id, @pages_available) %>
	</div>
</div>

<div class="clearfix">
	<%= f.label(:name) %>
	<div class="input">
		<%= f.text_field(:name) %>
	</div>
</div>

<div class="clearfix">
	<%= f.label(:position) %>
	<div class="input">
		<%= f.select(:position, 1..@sections_count) %>
	</div>
</div>

<div class="clearfix">
	<%= f.label(:content_type) %>
	<div class="input">
		<%= f.radio_button(:content_type, 'text') %> Text
		<%= f.radio_button(:content_type, 'html') %> HTML
	</div>
</div>

<div class="clearfix">
	<%= f.label(:visible) %>
	<div class="input">
		<%= f.check_box(:visible) %>
	</div>
</div>

<div class="clearfix">
	<%= f.label(:content) %>
	<div class="input">
		<%= f.text_area(:content, :size => '40x10') %>
	</div>
</div>
