    <h1>Delete Sections</h1>
	
	<%= link_to("< Back to list", {:action => "list"}, :class => "back-link btn") %>
	
	<%= form_for(:section, :url => {:action => "destroy", :id => @section.id}) do |f| %>
	
		<p>se va a mandar el registro <%= @section.name %> a lo macho?</p>
		<%= submit_tag("Delete", :class => "btn danger") %>	
		<%= link_to("Cancel", {:action => "list"}, :class => "back-link btn") %>
				
	<% end %>