	<% @page_title = "sections edit" %>
	
    <h1>Edit Section</h1>

	<%= link_to("< Back to list", {:action => "list"}, :class => "back-link btn") %>	
	
	<%= form_for(:section, :url => {:action => "update", :id => @section.id}) do |f| %>	
	
		<%= render(:partial => "form", :locals => {:f => f}) %>
	
		<div class="actions">
			<%= submit_tag("Update Section", :class => "btn info") %>
			<%= link_to("Cancel", {:action => "list"}, :class => "btn") %>
		</div>	

	<% end %>
