	<% @page_title = "sections list" %>	
	
	<h1>All Sections</h1>
    <%= link_to("< Back to Pages List", {:controller => "pages", :action => "list", :page_id => params[:page_id], :subject_id => params[:subject_id]}, :class => "back-link btn") %>
	<%= link_to("Add New Section", {:action => 'new', :page_id => @page.id, :subject_id => params[:subject_id]}, :class => "action new btn primary") %>
	
    <table class="list">
    	<tr class="header">
    		<th>Position</th>
    		<th>Name</th>
    		<th>Content Type</th>
    		<th>Permalink</th>
    		<th>Visible</th>
    		<th>Actions</th>
    	</tr>
    	<% @sections.each do |section| %>
    	<tr>
            <td><%= section.position %></td>
			<td><%= section.name %></td>
    		<td><%= section.content_type %></td>
    		<td><%= section.permalink %></td>
    		<td><%= status_tag(section.visible) %></td>
    		<td class="cta">
				<%= link_to("Show", 	{:action => 'show', 	:id => section.id, :page_id => @page.id, :subject_id => params[:subject_id]}, 	:class => "action show btn primary") %>
				<%= link_to("Edit", 	{:action => 'edit', 	:id => section.id, :page_id => @page.id, :subject_id => params[:subject_id]}, 	:class => "action edit btn info") %>
				<%= link_to("Delete", 	{:action => 'delete', 	:id => section.id, :page_id => @page.id, :subject_id => params[:subject_id]}, 	:class => "action delete btn danger") %>
    		</td>
    	</tr>    
    	<% end %>
    </table>