	<h1>Sections</h1>

	<%= link_to("Add New Section", {:action => 'new'}, :class => "action new btn") %>
	
    <table class="list">
    	<tr class="header">
    		<th>Position</th>    		
    		<th>Name</th>
    		<th>Permalink</th>
    		<th>Visible</th>
    		<th>Content Type</th>
    		<th>Content</th>
    		<th>Updated at</th>
    		<th>Page ID</th>
    		<th>Actions</th>
    	</tr>
    	<% @sections.each do |section| %>
    	<tr>
			<td><%= section.position %></td>    		
    		<td><%= section.name %></td>
    		<td><%= section.permalink %></td>
    		<td><%= section.visible ? 'Yes' : 'No' %></td>
    		<td><%= section.content_type %></td>
			<td><%= section.content %></td>    		
			<td><%= section.updated_at %></td>
			<td>"TBD"</td>
    		<td class="cta">
				<%= link_to("Show", 	{:action => 'show', 	:id => section.id }, 	:class => "action show btn primary") %>
				<%= link_to("Edit", 	{:action => 'edit', 	:id => section.id }, 	:class => "action edit btn info") %>
				<%= link_to("Delete", 	{:action => 'delete', 	:id => section.id}, 	:class => "action delete btn danger") %>
    		</td>
    	</tr>    
    	<% end %>
    </table>