	<% @page_title = "sections new" %>

    <h1>New Section</h1>
	
	<%= link_to("< Back to list", {:action => "list"}, :class => "back-link") %>
	
	<%= form_for(:section, :url => {:action => "create"}) do |f| %>	
		<table class="new">	
			<tr>
				<th>Name</th>
				<td><%= f.text_field(:name) %>
			</tr>
			<tr>
				<th>Permalink</th>
				<td><%= f.text_field(:permalink) %>
			</tr>				
			<tr>
				<th>Position</th>
				<td><%= f.text_field(:position) %>
			</tr>
			<tr>
				<th>Visible</th>
				<td><%= f.text_field(:visible) %>
			</tr>
			<tr>
				<th>Content Type</th>
				<td><%= f.text_field(:content_type) %>
			</tr>
			<tr>
				<th>Content</th>
				<td><%= f.text_field(:content) %>
			</tr>	
		</table>
	
		<%= submit_tag("Create Section", :class => "btn primary") %>
	<% end %>
