<% @page_title = "sections show" %>

<h1>Show Section</h1>

<%= link_to("< Back to sections", {:action => "list", :page_id => @page.id, :subject_id => params[:subject_id]}, :class => "back-link btn") %>

<div class="row">
	<div class="span6">
		<h2>Name</h2>
		<p><%= @section.name %></p>
		
		<h2>Permalink</h2>
		<p><%= @section.permalink %></p>
		
		<h2>Position</h2>
		<p><%= @section.position %></p>		
	</div>

	<div class="span6">
		<h2>Content Type</h2>
		<p><%= @section.content_type %></p>
		
		<h2>Content</h2>
		<p><%= sanitize(@section.content, :tags => ['p', 'br', 'strong', 'em'], :attributes => ['id', 'class', 'style']) %></p>
		
		<h2>Visible</h2>
		<p><%= @section.visible %></p>		
	</div>
	
	<div class="span4">
		<h3>Created At</h3>
		<p><%= @section.created_at %></p>
		
		<h3>Updated at</h3>
		<p><%= @section.updated_at %></p>		
	</div>
</div>
