<%= error_messages_for(@page) %>
<div class="clearfix">
	<%= f.label(:subject_id) %>
	<div class="input">
		<%= f.select(:subject_id, @subjects_count) %>
	</div>
</div>
<div class="clearfix">
	<%= f.label(:name) %>
	<div class="input">
		<%= f.text_field(:name) %>
	</div>
</div>
<div class="clearfix">
	<%= f.label(:permalink) %>
	<div class="input">
		<%= f.text_field(:permalink) %>
	</div>
</div>
<div class="clearfix">
	<%= f.label(:position) %>
	<div class="input">
		<%= f.select(:position, 1..@pages_count) %>
	</div>
</div>
<div class="clearfix">
	<%= f.label(:visible) %>
	<div class="input">
		<%= f.check_box(:visible) %>
	</div>
</div>
