<!DOCTYPE html>
<html>
<head>
    <title>Pages - List</title>
</head>
<body>
<div id="wrapper">
    <h1>Add Page</h1>
  <%= link_to("< Back to list", {:action => "list"}, :class => "back-link") %>
  <%= form_for(:page, :url => {:action => "create"}) do |f| %>
  <table class="new">       
    <tr>
      <th>Name</th>
      <td><%= f.text_field(:name) %>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= f.text_field(:position) %>
    </tr>
    <tr>
      <th>Permalink</th>
      <td><%= f.text_field(:permalink) %>
    </tr>
    <tr>
      <th>Visible</th>
      <td><%= f.text_field(:visible) %>
    </tr>
  </table>
  
  <%= submit_tag("Create Page") %>
  <% end %>
</div>
</body>
</html>
