<% @page_title = "page show" %>

<h1>Show Page</h1>
<%= link_to("< Back to list", {:action => "list", :subject_id => @subject.id}, :class => "btn") %>

<div class="row">
	<div class="span6">
		<h2>ID</h2>
		<p><%= @page.id %></p>
		<h2>Name</h2>
		<p><%= @page.name %></p>
		<h2>Permalink</h2>
		<p><%= @page.permalink %></p>
	</div>
	
	<div class="span6">
		<h2>Position</h2>
		<p><%= @page.position %></p>
		<h2>Visible</h2>
		<p><%= @page.visible %></p>
	</div>

	<div class="span4">
		<h3>Created At</h3>
		<p><%= @page.created_at.strftime("%m/%d/%y") %></p>
		<h3>Updated at</h3>
		<p><%= @page.updated_at.strftime("%m/%d/%y") %></p>
	</div>
</div>