<%= error_messages_for(@subject) %>
<div class="clearfix">
	<%= f.label(:name) %>
	<div class="input">
		<%= f.text_field(:name) %>
	</div>
</div>
<div class="clearfix">
	<%= f.label(:position) %>
	<div class="input">
		<%= f.select(:position, 1..@subject_count) %>
	</div>
</div>
<div class="clearfix">
	<%= f.label(:visible) %>
	<div class="input">
		<%= f.check_box(:visible) %>
	</div>
</div>
<div class="clearfix">
	<%= f.label(:created_at) %>
	<div class="input">
		<%= f.datetime_select(:created_at, {:order => [:month, :day, :year], :discard_hour => true, :use_short_month => true}, {:class => "small"}) %>
	</div>
</div>
