	<% @page_title = "subjects delete" %>

    <h1>Delete Subject</h1>
        
	<%= link_to("< Back to list", {:action => "list"}, :class => "back-link btn small") %>
	
	<%= form_for(:subject, :url => {:action => "destroy", :id => @subject.id}) do |f| %>		
		<p>se va a mandar el registro <%= @subject.name %> a lo macho?</p>
		<%= submit_tag("Delete", :class => "btn danger") %>	
		<%= link_to("Cancel", {:action => "list"}, :class => "back-link btn") %>
	<% end %>