	<% @page_title = "subjects list" %>
	
	<div class="row">
		<h1 class="span6 columns">Subjects</h1>
	</div>
    
    <nav>
    	<%= link_to("Add New Subject", {:action => 'new'}, :class => "action new btn") %>
    </nav>
    
    <table class="list">
    	<tr class="header">
    		<th>Pos. </th>
    		<th>Subject</th>
    		<th>Visible</th>
    		<th>Pages</th>
    		<th>Actions</th>
    	</tr>
    	<% @subjects.each do |subject| %>
    	<tr>
    		<td><%= subject.position %></td>
    		<td><%= subject.name %></td>
    		<td><%= subject.visible ? 'Yes' : 'No' %></td>
    		<td><%= subject.pages.size %></td>
    		<td class="cta">
				<%= link_to("Show", 	{:action => 'show', 	:id => subject.id }, 	:class => "action show btn primary") %>
				<%= link_to("Edit", 	{:action => 'edit', 	:id => subject.id }, 	:class => "action edit btn info") %>
				<%= link_to("Delete", 	{:action => 'delete', 	:id => subject.id}, 	:class => "action delete btn danger") %>
    		</td>
    	</tr>    
    	<% end %>
    </table>