<% @page_title = "subjects show" %> <h1>Subject: <%= @subject.name %></h1>
<%= link_to("< Back to list", {:action => "list"}, :class => "back-link btn") %>
<div class="row">
	<div class="span4">
		<h2>Name</h2>
		<p><%= @subject.name %></p>
	</div>
	<div class="span4">
		<h2>Position</h2>
		<p><%= @subject.position %></p>
	</div>
	<div class="span4">
		<h2>Visible</h2>
		<p><%= @subject.visible %></p>
	</div>

<div class="span3">
	<h3>Created At</h3>
	<p><%= @subject.created_at.strftime("%m/%d/%y") %></p>
	<h3>Updated at</h3>
	<p><%= @subject.updated_at.strftime("%m/%d/%y") %></p>
</div>
</div> 