<%= error_messages_for(@admin_user) %>

<div class="clearfix">
	<%= f.label(:first_name) %>
	<div class="input">
		<%= f.text_field(:first_name) %>
	</div>
</div>
<div class="clearfix">
	<%= f.label(:last_name) %>
	<div class="input">
		<%= f.text_field(:last_name) %>
	</div>
</div>
<div class="clearfix">
	<%= f.label(:email) %>
	<div class="input">
		<%= f.text_field(:email) %>
	</div>
</div>
<div class="clearfix">
	<%= f.label(:username) %>
	<div class="input">
		<%= f.text_field(:username) %>
	</div>
</div>
<div class="clearfix">
	<%= f.label(:password) %>
	<div class="input">
		<%= f.password_field(:password) %>
	</div>
</div>
