	<% @page_title = "adminUser delete" %>

    <h1>Delete AdminUser</h1>
        
	<%= link_to("< Back to list", {:action => "list"}, :class => "back-link btn small") %>
	
	<%= form_for(:admin_user, :url => {:action => "destroy", :id => @admin_user.id}) do |f| %>
		<h2><%= @admin_user.name %></h2>
		<p>se va a mandar el registro <%= @admin_user.name %> a lo macho?</p>
		<div class="actions">
			<%= submit_tag("Delete", :class => "btn danger") %>	
			<%= link_to("Cancel", {:action => "list"}, :class => "back-link btn") %>
		</div>
	<% end %>