- @page_title = "edit adminUser"

%h1 Edit AdminUser

= link_to("< Back to list", {:action => "list"}, :class => "btn")

= form_for(:admin_user, :url => {:action => "update", :id => @admin_user.id}, :class => "form-stacked") do |f|

  = render(:partial => "form", :locals => {:f => f})

  .actions
    = submit_tag("Update AdminUser", :class => "btn primary")
    = link_to("Cancel", {:action => "list"}, :class => "btn")