<% @page_title = "create admin user" %>
<h1>Add AdminUser</h1>

<%= link_to("< Back to list", {:action => "list"}, :class => "btn") %>

<%= form_for(:admin_user, :url => {:action => "create"}, :class => "form-stacked") do |f| %>

<%= render(:partial => "form", :locals => {:f => f}) %>
<div class="actions">
	<%= submit_tag("Create AdminUser", :class => "btn primary") %>
	<%= link_to("Cancel", {:action => "list"}, :class => "btn") %>
</div>
<% end %> 